default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        args: ["--fix"]
        additional_dependencies: []
      - id: ruff-format

  - repo: https://github.com/microsoft/pyright
    rev: v1.1.407
    hooks:
      - id: pyright
        args: []

